/* @import "tailwindcss";

@theme {
  --color-bg: var(--color-gray-950);
  --color-text: var(--color-gray-100);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
} */


@import "tailwindcss";

/* Use Tailwind theme colors directly */
body {
  @apply bg-gray-50 text-gray-800;
}




/* @import "tailwindcss";

body {
  background-color: theme(colors.gray.950);
  color: theme(colors.gray.100);
} */
